html { 
  // background-image: linear-gradient(to bottom, #d16ba5, #dd729c, #e57a93, #ea848d, #ed8f88, #f29a86, #f5a585, #f7b085, #fcbe87, #ffcc8a, #ffda8f, #ffe996);
  // background-image: linear-gradient(to bottom, #33304e, #353a5c, #36456b, #345079, #2f5c87, #25648d, #186c92, #057496, #007a92, #0f7f8e, #248388, #368782);
  // background-image: linear-gradient(to bottom, #b3f0f6, #aeecf8, #aae9fb, #a7e4fd, #a6e0fe, #abdcff, #b1d8ff, #b9d3ff, #c8ceff, #dac8fe, #edc1f7, #ffbbea);
  // background-image: url('../images/daytime.png')
  // background-image: url('../images/sunset.png')
  background-image: url('../images/night.png')
}
.App {
  height: 100vh !important;
  display: flex;
  justify-content: center;
}

.title-bar {
  background: linear-gradient(90deg,#ffbce7,#fcbbe6);
}
.window {
  box-shadow: inset -1px -1px #0a0a0a54, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}


.dog {
  position: fixed;
  top: 25%;
  left: 65%;
  width: 100px;
  height: 100px;
  background: url('../images/Wilson_Marking.png');
}

.dogBarking {
  position: fixed;
  top: 35%;
  left: 65%;
  width: 96px;
  height: 96px;
  background: url('../images/Wilson_Marking.png');
}

.plant-jeffrey {
  position: fixed;
  top: 50%;
  left: 65%;
  width: 80px;
  height: 100px;
  background: url('../images/plant-jeffrey.png');
}

.cloud {
  position: fixed;
  top: 25%;
  left: 80%;
  width: 300px;
  height: 160px;
  background: url('../images/cloudpink.png');
}

.cloud-small {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 375px;
  height: 170px;
  background: url('../images/cloud-white-small.png');
}

.grid {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image:
    repeating-linear-gradient(#ffb2e4 0 2px, transparent 2px 100%), // 83eeff for night
    repeating-linear-gradient(90deg, #ffb2e4 0 2px, transparent 2px 100%);
  background-size: 71px 71px;
}

@font-face {
  font-family: "04b_30";
  src: url('../images/04b_30.TTF') format("truetype")
}

.name {
  font-family: "04b_30";
  font-size: 2.5rem;
}