html { 
  background: url("../images/city.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;

  .home-container {
    background-color: rgba(140, 189, 223, 0.25);
    width: 50%;
  }

  .first {
    height: 100vh;
    border-bottom: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 90px;
      font-family: 'Fredoka One', cursive;
      color: white;
    }
    // z-index: 2;
  }
  
  .second {
    border-bottom: 2px solid red;
  }
  
  .third {
    height: 100vh;
    border-bottom: 2px solid red;
  }
  
}


.dog {
  position: fixed;
  top: 25%;
  left: 65%;
  width: 100px;
  height: 100px;
  background: url('../images/corgi-sprite.png');
}
.animateDown {
  animation: moveDown .8s steps(4, start) infinite;
}
.animateRight {
  animation: moveRight .8s steps(4, start) infinite;
}
.animateLeft {
  animation: moveLeft .8s steps(4, start) infinite;
}
.animateUp {
  animation: moveUp .8s steps(4, start) infinite;
}
.animateSit {
  animation: moveSit .8s steps(2, end) infinite;
}
.animateRun {
  animation: moveRun .8s steps(3, end) infinite;
}

@keyframes moveDown {
  100% {
      background-position-x: -400px;
    }
}

@keyframes moveRight {
  0% {
      background-position-y: -100px;
  }
  100% {
      background-position-y: -100px;
      background-position-x: -400px;
  }
}

@keyframes moveLeft {
  0% {
      background-position-y: -100px;
      transform: scaleX(-1);
  }
  100% {
      background-position-y: -100px;
      background-position-x: -400px;
      transform: scaleX(-1);
  }
}

@keyframes moveUp {
  0% {
      background-position-y: -200px;
  }
  100% {
      background-position-y: -200px;
      background-position-x: -400px;
  }
}
@keyframes moveSit {
  0% {
      background-position-y: -300px;
      background-position-x: -200px;
  }
  100% {
      background-position-y: -300px;
      background-position-x: -400px;
  }
}

@keyframes moveRun{
  0% {
      background-position-y: -400px;
  }
  100% {
      background-position-y: -400px;
      background-position-x: -300px;
  }
}