.night {
    background-image: map-get($backgrounds, night);
    .cloud {
      background: map-get($clouds, dark-cloud);
    }
    .cloud-small {
      background: map-get($clouds, dark-small-cloud);
    }
    .grid {
      background-image:
        repeating-linear-gradient($blue 0 2px, transparent 2px 100%),
        repeating-linear-gradient(90deg, $blue 0 2px, transparent 2px 100%);
    }
}