@import 'variables.scss';
@import './themes/day';
@import './themes/sunset';
@import './themes/night';


.App {
  height: 100vh !important;
  display: flex;
  justify-content: center;
}

.title-bar {
  background: linear-gradient(90deg,#ffbce7,#fcbbe6);
}
.window {
  box-shadow: inset -1px -1px #0a0a0a54, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}


.dog {
  position: fixed;
  top: 25%;
  left: 65%;
  width: 100px;
  height: 100px;
  background: url('../images/Wilson_Marking.png');
}

.dogBarking {
  position: fixed;
  top: 35%;
  left: 65%;
  width: 96px;
  height: 96px;
  background: url('../images/Wilson_Marking.png');
}

.plant-jeffrey {
  position: fixed;
  top: 50%;
  left: 65%;
  width: 80px;
  height: 100px;
  background: url('../images/plant-jeffrey.png');
}

.cloud {
  position: fixed;
  top: 25%;
  left: 80%;
  width: 300px;
  height: 160px;
}

.cloud-small {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 375px;
  height: 170px;
}

.grid {
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: 71px 71px;
  background-image:
    repeating-linear-gradient(#ffb2e4 0 2px, transparent 2px 100%),
    repeating-linear-gradient(90deg, #ffb2e4 0 2px, transparent 2px 100%);
}

@font-face {
  font-family: "04b_30";
  src: url('../images/04b_30.TTF') format("truetype")
}

.name {
  font-family: "04b_30";
  font-size: 2.5rem;
}

.background-size {
  background-size: contain;
}
